<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago con Transbank</title>
</head>
<body>
    <h1>Pago con Transbank</h1>
    <p>Haz clic en el siguiente botón para realizar el pago:</p>
    <form method="post" action="Inserta aquí la url entregada">
        <input type="hidden" name="token_ws" value="Inserte aquí el token entregado" />
        <input type="submit" value="Ir a pagar" />
      </form>
</body>
</html>
